* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: red 1px solid; */
  font-family: sans-serif;
  color: #2e2e3a;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5fa;
}

.gameBoard {
  width: 400px;
  height: 400px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid darkslateblue;
  border-radius: 2.5%;
  background-color: #d9dbe9;
}

.gameBoard .box {
  border: 1px solid #b0b3c2;
  background-color: #c7c9d8;
  margin: 1px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  transition: 100ms;
}

.gameBoard .box:hover {
  background-color: #1a1a26;
  color: #ece6ff;
}
